@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@200;500;800&display=swap');

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html {
  --timeLine-opacity: 0;
}

* {
  font-family: 'Noto Kufi Arabic', sans-serif;
  font-display: swap;
  font-style: normal;
}

.ant-table {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ant-table-thead > tr > th {
  background-color: #e1faeb !important;
  color: #00b96b !important;
}
.ant-table-thead > tr > th::before {
  background-color: #00b96b !important;
}
.anticon.blue {
  color: cadetblue !important;
}

.anticon.hide {
  visibility: hidden !important;
}

#canvas-wrapper {
  height: 100vh;
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

#canvas-wrapper canvas {
  height: 100%;
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

#controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0 30px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  touch-action: none;
  width: 100%;
  z-index: 5;
}
#controls button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 21px;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  position: relative;
  text-transform: uppercase;
  touch-action: auto;
}
#controls button::before,
#controls button::after {
  background-color: currentColor;
  content: '';
  display: block;
  height: 2px;
  opacity: 0;
  position: absolute;
  transition: 0.25s transform, 0.25s opacity;
  width: 100%;
}
#controls button::before {
  top: -5px;
  transform: translateY(-5px);
}
#controls button::after {
  bottom: -5px;
  transform: translateY(5px);
}
#controls button:hover::before,
#controls button:hover::after {
  opacity: 1;
  transform: translateY(0);
}
#slides {
  display: grid;
  grid-template-areas: '.' 'slide' '.';
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  touch-action: none;
  width: 100%;
  z-index: 4;
}
.slide {
  align-items: center;
  align-self: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  grid-area: slide;
  pointer-events: auto;
  text-align: center;
  touch-action: auto;
}
.slide__title {
  font-size: 3.5vw;
  display: inline-block;
  line-height: 2;
  text-transform: uppercase;
  font-weight: bolder;
  clip-path: polygon(
    calc(var(--progress) * 1%) 0%,
    calc(var(--progress) * 1% + 110%) 0%,
    calc(var(--progress) * 1% + 100%) 100%,
    calc(var(--progress) * 1% - 10%) 100%
  );
  color: #ffffff;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000;
}
.slide__copy {
  font-size: 4vw;
  color: orangered;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #04aa6d;
}
.slide__progress {
  --progress: -110;
}
.slide__zero {
  --progress: 0;
}

.ant-picker-panel-layout {
  background: floralwhite !important;
}
.ant-select-dropdown {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.24);
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: top center;
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (max-width: 480px) {
  .ant-picker-panels {
    flex-wrap: wrap-reverse !important;
    width: min-content;
  }
}
