@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@200;500;800&display=swap');

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html {
  --timeLine-opacity: 0;
}
:root {
  --card-width: 300px;
  --card-height: 140px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

* {
  font-family: 'Noto Kufi Arabic', sans-serif;
  font-display: swap;
  font-style: normal;
}

.testimonial__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}
.testimonial__bg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.8;
}
.testimonial__bg__image {
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  transition: transform 1000ms ease, opacity 1000ms ease;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
}
.testimonial__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.testimonial__bg__image.previous--image,
.testimonial__bg__image.next--image {
  opacity: 0;
}
.testimonial__bg__image.previous--image {
  --image-translate-offset: -25%;
}
.testimonial__bg__image.next--image {
  --image-translate-offset: 25%;
}

.cardList {
  position: absolute;
  width: calc(2 * var(--card-width));
  height: auto;
  z-index: 20;
  bottom: 30%;
  max-width: 90vw;
}
.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: -5%;
}
.cardList__btn.btn--right {
  right: -5%;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset))
    translateY(var(--card-translateY-offset))
    rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration)
    var(--card-transition-easing);
  user-select: none;
}
.card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 10;
  transition: opacity var(--card-transition-duration)
    var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
  z-index: 100;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 0.8);
  --card-rotation-offset: 25deg;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 0.8);
  --card-rotation-offset: -25deg;
}
.card.previous--card,
.card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
  z-index: 30;
  right: 25%;
  top: 10%;
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration)
    var(--card-transition-easing);
}
.info .text {
  position: relative;
  white-space: nowrap;
  color: #fff;
  width: fit-content;
}
.info .name {
  font-size: clamp(1rem, 8vw, 64px);
  line-height: 1.8;
  font-weight: 800;
  background: linear-gradient(260deg, #3d67ff 0%, #9773ff 50%, #efceff 80%),
    #fff;
  background-clip: border-box, border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 0;
}
.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
  font-size: 24px !important;
}

.info .location::before,
.info .location::after {
  content: '';
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
  font-size: large;
}
.info.current--info {
  opacity: 1;
  display: block;
  position: absolute;
}
.info.previous--info,
.info.next--info {
  opacity: 0;
  display: none;
}

@media only screen and (min-width: 800px) {
  :root {
    --card-width: 600px;
    --card-height: 240px;
  }
}
@media only screen and (max-width: 630px) {
  .infoList {
    top: 20%;
  }
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}

.ant-table {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ant-table-thead > tr > th {
  background-color: #e1faeb !important;
  color: #00b96b !important;
}
.ant-table-thead > tr > th::before {
  background-color: #00b96b !important;
}
.anticon.blue {
  color: cadetblue !important;
}

.anticon.hide {
  visibility: hidden !important;
}

.ant-picker-panel-layout {
  background: floralwhite !important;
}
.ant-select-dropdown {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.24);
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: top center;
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (max-width: 480px) {
  .ant-picker-panels {
    flex-wrap: wrap-reverse !important;
    width: min-content;
  }
}
