@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@200;500;800&display=swap');

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html {
  --timeLine-opacity: 0;
}

* {
  font-family: 'Noto Kufi Arabic', sans-serif;
  font-display: swap;
  font-style: normal;
}

.ant-table {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ant-table-thead > tr > th {
  background-color: #e1faeb !important;
  color: #00b96b !important;
}
.ant-table-thead > tr > th::before {
  background-color: #00b96b !important;
}
.anticon.blue {
  color: cadetblue !important;
}

.anticon.hide {
  visibility: hidden !important;
}

.ant-picker-panel-layout {
  background: floralwhite !important;
}
.ant-select-dropdown {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.24);
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: top center;
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (max-width: 480px) {
  .ant-picker-panels {
    flex-wrap: wrap-reverse !important;
    width: min-content;
  }
}
